/*
 * @Author: Chengxu Bian 
 * @Date: 2020-07-10 17:47:00 
 * @Last Modified by: Chengxu Bian
 * @Last Modified time: 2020-07-10 22:20:29
 */
.tab-container {
  display: flex;
  &.container-vertical {
    flex-direction: row;
  }
  &.container-horizontal {
    flex-direction: column;
  }
}
.fancy-tab {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  position: relative;

  padding-left: 0px;
  .tab-item {
    border-bottom: $tab-item-active-border-width solid transparent;
    padding: $tab-item-padding-y $tab-item-padding-x;
    &:hover,
    &.is-activated {
      .tab-title {
        cursor: pointer;
      }
    }
  }
}

.tab-horizontal {
  border-bottom: $tab-border-width solid $tab-border-color;
  .tab-item {
    border-bottom: $tab-item-active-border-width solid transparent;
    padding: $tab-item-padding-y $tab-item-padding-x;
    &:hover,
    &.is-activated {
      border-bottom: $tab-item-active-border-width solid $menu-item-active-color;
      .tab-title {
        cursor: pointer;
      }
    }
  }
}

.tab-vertical {
  flex-direction: column;
  width: max-content;
  > .tab-item {
    border-right: $menu-border-width solid $menu-border-color;
    &:hover,
    &.is-activated {
      border-right: $tab-item-active-border-width solid $menu-item-active-color;
    }
  }
}
.tab-content {
  padding-left: $tab-item-padding-x;
}
